* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.principal {
  margin-top: 15rem;
  text-align: center;
}

.section-title,
.cronometer {
  font-size: xx-large;
  margin-bottom: 2rem;
}

.paragraph {
  display: inline-block;
}

.btn {
  background-color: blueviolet;
  border: 0.063rem solid blueviolet;
  border-radius: 1.25rem;
  color: aliceblue;
  font-size: x-large;
  height: 3.125rem;
  margin: 0 2rem;
  width: 9.375rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.3;
}
